include templates/head
body 
	.wrap
		header.header
			.header-top
				.conteiner
					- var items = ['vk','fb','tw']
					.header-left
						.socials.header-socials
							ul.socials__list
								each item in items
									li(class="socials__item socials__item__#{item}")
										a(href="#" target="_blank").social_link=item
					.header-right
						.contacts
							span.contact.contacts__adres my home
							a(href="#").contact.contacts__telephone +380662665658

			.header-bottom
				.conteiner
					a(href="#main").logo
						img(src="img/logo.png", alt="cooltech logo").logo__img
					.search
						form.search-form
							input(type="text" id="search_input").search__input
							input(type="submit").search_submit
					.menu
						-var items = ['Карта проезда','История заказов','Корзина']
						ul.menu__list
							each item in items
								li.menu__list__item 
									a(href="#").menu_link #{item}
					nav.nav
						.conteiner
							- var items = ['Плашнеты','Мобильние телефоны','Mp3 плееры','Персональние компьютеры','Ноутбуки','Аксессуары','Бытовая техника']
							ul.nav__list
								- each item, index in items
									li(class= (index == 1)? "active" : " ").nav_item 
										a(href="#").nav__link #{item}

					.breadcramps
						- var cramps = ['Главная','Каталог']
						ul.breadcramps__list
							- each cramp in cramps
								li.breadcramps__item 
									a(href="#").breadcramps__link #{cramp}
		main.page-content
			.container
				h2.main__title Мобильные телефоны

				aside.sidebar
					section.sidebar__section.categories
						- var list = ['Флагманы','Бюджетная линейка']
						ul.categories__list
							each li in list 
								li.categories__item
									a(href="#").categoriies__trigger__link #{li}
					section.sidebar__section.filter
						ul.filter__list
							li.filter__item
								a(href="#").filter__item__title Наличие в магазинах
								.filter__item__body
									label.filter_chekbox
										input(type="radio" name="have_in_shop")
										span во всех магазинах
									label.filter_chekbox
										input(type="radio" name="have_in_shop")
										span В ближайшем ко мне магазине
							li.filter__item
								a(href="#").filter__item__title Бренды
								.filter__item__body
									- var brands = ['Lenovo','Apple','Samsung','Asus','Motorola']
									each brand in brands 
										label.filter_chekbox
											input(type="checkbox" name="#{brand}")
											span #{brand}
									a(href="#" id="reset").reset Сбросить все
							li.filter__item
								a(href="#").filter__item__title Цена
								.filter__item__body
									label от
										input(type="text")
									label до
										input(type="text")
									.cost__slider
										.cost__slider__body
							li.filter__item
								a(href="#").filter__item__title Цвет
								.filter__item__body
									-var colors = ['ffffff','cccccc','000000','0a3153','ff1800','fff343','fb914a','92c37c','40a6ff','9870ad','dc78ad','7f401d']
									ul.color_list
										each color in colors
											li(style="background:##{color}; width:50px; height:50px; display: block").color_item
							li.filter__item
								a(href="#").filter__item__title Бренды
								.filter__item__body
									- var OSs = ['Android','iOS','Windows Mobile','Symbian','custom']
									each os in OSs 
										label.filter_chekbox
											input(type="checkbox" name="#{os}")
											span #{os}
									a(href="#" id="reset").reset Сбросить все
				.products__block
					.products__block__header
						.header__left
							span Сортировать по
							.sort-by__layout
							- var sort = ['по цене','по возрастанию']
							ul.sort-by-cost__list
								each item in sort
									li.sort-by-cost__item #{item}
						.header_right
							span Вид каталога
							- var layout_list = ['list__small','list__big','tile']
							ul.layout_list
								each layout in layout_list
									li.layout_item
										a( href="#" class="layout__button #{layout}" id="#{layout}") #{layout}
					- var products = []
					ul.products__list
						each product in products
							li.product
								img(src="#{product.img[0]}", alt="big photo").big-photo
								img(src="#{image}", alt="small photo").small-photo
				.info__block
					h2.main__title Важная информация
					.container
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iure minima aspernatur veritatis expedita tempora aperiam eos modi ratione. Earum nisi dolores ex, deleniti assumenda libero minima quas unde perspiciatis!
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iure minima aspernatur veritatis expedita tempora aperiam eos modi ratione. Earum nisi dolores ex, deleniti assumenda libero minima quas unde perspiciatis!
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iure minima aspernatur veritatis expedita tempora aperiam eos modi ratione. Earum nisi dolores ex, deleniti assumenda libero minima quas unde perspiciatis!
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iure minima aspernatur veritatis expedita tempora aperiam eos modi ratione. Earum nisi dolores ex, deleniti assumenda libero minima quas unde perspiciatis!
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iure minima aspernatur veritatis expedita tempora aperiam eos modi ratione. Earum nisi dolores ex, deleniti assumenda libero minima quas unde perspiciatis!
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iure minima aspernatur veritatis expedita tempora aperiam eos modi ratione. Earum nisi dolores ex, deleniti assumenda libero minima quas unde perspiciatis!
				footer.footer
					.foooter__top
						.footer__top__left
							figure.logo.logo__footer
								img(src="#", alt="COOLTECH logo").logo__img
						.footer__top__right
							.socials.footer__socials
								- var items = ['vk','fb','tw']
								ul.socials__list
									each item in items
										li(class="socials__item socials__item__#{item}")
											a(href="#" target="_blank").social_link=item
							nav.nav.footer__nav
								.conteiner
									- var items = ['Плашнеты','Мобильние телефоны','Mp3 плееры','Персональние компьютеры','Ноутбуки','Аксессуары','Бытовая техника']
									ul.nav__list
										- each item, index in items
											li(class= (index == 1)? "active" : " ").nav_item 
												a(href="#").nav__link #{item}
					.footer__bottom
						span All rights reserved. 2015. no copy alowed